/public/build
/public/hot
/public/mix-manifest.json
/public/produit_images
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules
/database/factories